block variables
  - var selected = 'Home'

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous')
    link(rel='stylesheet', href='/stylesheets/style.css')
    title Student Application
  body
    div.d-flex.flex-column.flex-md-row.align-items-center.p-3.px-md-4.mb-3.bg-white.border-bottom.box-shadow
      h5.my-0.mr-md-auto.font-weight-normal Student Application
      nav.my-2.my-md-0.mr-md-3
        

        if user == undefined
          a.p-2.text-dark(href="/", title="Home") Home
          a.p-2.text-dark(href="/user/login") Log In
        else
          a.p-2.text-dark(href="/student/services") Student Services
          a.p-2.text-dark(href="/user/services") User Services
          a.p-2.text-dark(href="/user/logout") Logout
    .container
      block content

    hr.bottom
    footer.
      Built with #[a(href='https://expressjs.com/') Express.js] on POWER System with IBM i <img src='/images/IBM_i.jpg' style="width:30px;height:30px;">.
