extends layout

block content
  .main.container
    .row
      .col-md-6.col-md-offset-3
        h1= "Update student record result"
        .row
        textarea(rows="5" cols="70") #{response}